:root{
  --primary-color: #D36135;
  --sec-color: #A24936;
  --black: #333333;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  text-align: center;
  /* background-color: var(--primary-color); */
  color: white;
  background-image: url("./images/bgImage.jpg");
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


label {
  display: block;
  font-size: 20px;
}

input{
  padding: 10px;
  margin-bottom: 1rem;
  width: 100%;
}

.heading{
  margin-top: 0px;
  font-weight: lighter;
  /* background-color: var(--sec-color); */
  padding: 20px;
  color: red;
}

#submit-btn{
  border: 2px solid white;
  padding: 10px;
  background: white;
  /* color: white; */
}

#submit-btn:hover{
  cursor: pointer;
}

.container{
  margin: auto;
  width: 40%;
  text-align: center;
  justify-content: center;
}

#output-box{
  font-family: fantasy;
  margin: 1rem;
  padding: 10px;
}